stages:
  - static analysis (clang)
  - static analysis (cppcheck)
  - build and run example
  - build and run tests

jobs:
  include:
    - stage: static analysis (clang)
      language: cpp
      compiler:
        - clang
      os:
        - osx
      script:
        - scan-build -v cmake -Bbuild -H. -DEXAMPLE:BOOL=ON -DUNIT-TESTS:BOOL=OFF -DCMAKE_BUILD_TYPE:STRING=Release
        - scan-build -v cmake --build ./build --target example --config Release

    - stage: static analysis (cppcheck)
      language: cpp
      os:
        - linux
      sudo: required
      before_install:
        - sudo apt-get update
        - sudo apt-get install -y cppcheck
      script:
        - bash <(curl -s https://raw.githubusercontent.com/bang-olufsen/github-cppcheck/master/cppcheck.sh) .

    - stage: build and run example
      language: cpp
      compiler:
        - clang
      os:
        - osx
      script:
        - cmake -Bbuild -H. -DEXAMPLE:BOOL=ON -DUNIT-TESTS:BOOL=OFF -DCMAKE_BUILD_TYPE:STRING=Release
        - cmake --build ./build --target example --config Release
      after_script:
        - echo "TODO: Run with memory checker"

    - stage: build and run tests
      language: cpp
      compiler:
        - clang
      os:
        - osx
      env:
        - GTEST_COLOR=1
      script:
        - cmake -Bbuild -H. -DEXAMPLE:BOOL=OFF -DUNIT-TESTS:BOOL=ON -DCMAKE_BUILD_TYPE:STRING=Release
      after_script:
        - cmake --build ./build --target run-all-tests-verbose --config Release
